In [2]:
import pandas as pd
import numpy as np

In [3]:
# Series datastructure
# Creating Series Objects

In [4]:
obj3 = pd.Series()

In [5]:
obj3

Series([], dtype: object)

In [6]:
# Creating non-empty Series objects

In [8]:
#1. Specify data as Python Sequence
obj1 =pd.Series(range(5))
obj1

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [9]:
obj2 = pd.Series([3.5,5., 6.5, 8.])
obj2

0    3.5
1    5.0
2    6.5
3    8.0
dtype: float64

In [10]:
s1 = pd.Series([4,6,8,10])
s1

0     4
1     6
2     8
3    10
dtype: int64

In [11]:
s2 = pd.Series((11,21,31,41))
s2

0    11
1    21
2    31
3    41
dtype: int64

In [12]:
s3 = pd.Series(['o','h','o'])
print("Series Object:")
print(s3)

Series Object:
0    o
1    h
2    o
dtype: object

In [13]:
s4 = pd.Series("so funny")
print("Series Objects:")
s4

Series Objects:

0    so funny
dtype: object

In [14]:
s5 = pd.Series(["I","am","laughing"])
print("Series Objects:")
s5

Series Objects:

0           I
1          am
2    laughing
dtype: object

In [15]:
# 2. Specify data as ndarray

In [16]:
nda1 = np.arange(3,13,3.5)
nda1

array([ 3. ,  6.5, 10. ])

In [17]:
ser1 = pd.Series(nda1)
ser1

0     3.0
1     6.5
2    10.0
dtype: float64

In [18]:
s6 = pd.Series(np.linspace(24,64,5))
s6

0    24.0
1    34.0
2    44.0
3    54.0
4    64.0
dtype: float64

In [19]:
s7 = pd.Series(np.tile([3,5], 2))
s7

0    3
1    5
2    3
3    5
dtype: int32

In [20]:
#3. specify data as a python Dictionary
obj5 = pd.Series({'jan':31, 'feb':28, 'Mar' : 31})
obj5

jan    31
feb    28
Mar    31
dtype: int64

In [21]:
stu = {'A': 39 , 'B': 41, 'C' : 34,"D": 56}
s8 = pd.Series(stu)
print(s8)

A    39
B    41
C    34
D    56
dtype: int64

In [22]:
#4. specify data as a Scalar value
medalswon = pd.Series(10, index = range(0, 1))
medalswon

0    10
dtype: int64

In [24]:
medals2 = pd.Series(15, index = range(1,6,2))
medals2

1    15
3    15
5    15
dtype: int64

In [25]:
ser2 = pd.Series('yet to start', index = ['Indore', 'Delhi', 'shimla'])
ser2

Indore    yet to start
Delhi     yet to start
shimla    yet to start
dtype: object

In [26]:
s9 = pd.Series(50000, index =['qtr1','qtr2','qtr3','qtr4'])
s9

qtr1    50000
qtr2    50000
qtr3    50000
qtr4    50000
dtype: int64

In [27]:
s10 = pd.Series(200, index = range(2020, 2029, 2))
s10

2020    200
2022    200
2024    200
2026    200
2028    200
dtype: int64

In [28]:
# specifing NaN  values  in a Series objects
obj3 = pd.Series([6.5, np.NaN, 2.34])
obj3

0    6.50
1     NaN
2    2.34
dtype: float64

In [29]:
# Specify index as well as data with series()

In [30]:
arr = [31, 28 , 31 , 30]
mon = ["jan","feb","Mar","Apr"]
obj3 = pd.Series(data = arr, index = mon)

In [31]:
obj3

jan    31
feb    28
Mar    31
Apr    30
dtype: int64

In [33]:
obj4 = pd.Series(data = [32,34,35], index =["A", "B","C"])
obj4

A    32
B    34
C    35
dtype: int64

In [34]:
obj3 = pd.Series(arr, index = mon)
obj3

jan    31
feb    28
Mar    31
Apr    30
dtype: int64

In [37]:
s1 = pd.Series(range(1,15,3), index = [x for x in 'abcde'])
s1

a     1
b     4
c     7
d    10
e    13
dtype: int64

In [40]:
section = ["A","B","C","D"]
contri = [6700, 5600, 5000, 5200]
s11 = pd.Series(data = contri , index = section)
s11

A    6700
B    5600
C    5000
D    5200
dtype: int64

In [41]:
# Specify data type along with data and index
obj5 = pd.Series(data = arr , index = mon, dtype = np.float64)
obj5

jan    31.0
feb    28.0
Mar    31.0
Apr    30.0
dtype: float64

In [42]:
# Using a Mathematical function to create data array in Series()
a = np.arange(9, 13)
a

array([ 9, 10, 11, 12])

In [43]:
obj7 =pd.Series(index = a, data = a*2)
obj7

9     18
10    20
11    22
12    24
dtype: int32

In [44]:
obj8 = pd.Series(index = a, data = a**2)
obj8

9      81
10    100
11    121
12    144
dtype: int32

In [45]:
Lst = [9,10, 11, 12]
obj8 = pd.Series(data = (2*Lst))
obj8

0     9
1    10
2    11
3    12
4     9
5    10
6    11
7    12
dtype: int64

In [47]:
section = ["A","B","C","D","E"]
contri1  = np.array([6700, 5600, 5000, 5200, 4500])
s12 = pd.Series(data = contri1*2, index = section, dtype = np.float32)
s12

A    13400.0
B    11200.0
C    10000.0
D    10400.0
E     9000.0
dtype: float32

In [48]:
c11 = pd.Series(data = [30,40,50], index =['science','commerce','Humanities'])
c12 = pd.Series(data  =[37,44,45], index =['science','commerce','Humanities'])
# adding two objects to get total no of students
print("Total no of students")
print(c11+c12) # series objects  arithmetic

Total no of students
science       67
commerce      84
Humanities    95
dtype: int64

In [49]:
s11.sort_values()

C    5000
D    5200
B    5600
A    6700
dtype: int64

In [50]:
s11.sort_values(ascending = False)

A    6700
B    5600
D    5200
C    5000
dtype: int64

In [51]:
# sorting on the basis of indexing
s11.sort_index(ascending =False)

D    5200
C    5000
B    5600
A    6700
dtype: int64

In [52]:
s11.sort_index()

A    6700
B    5600
C    5000
D    5200
dtype: int64

In [ ]:
# sir se Pucchna hai 
# What is the difference between numpy array and Series Data structure?